Escritorio/Connected Services/WCFServiciosApp/ServiciosApp.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empresa" nillable="true" type="tns:Empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpresa" nillable="true" type="tns:ArrayOfEmpresa" />
  <xs:complexType name="Empresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="COORDENADAS_EMP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DESCRIPCION_EMP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIRECCION_EMP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_EMP" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRE_EMP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONO_EMP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empresa" nillable="true" type="tns:Empresa" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="APELLIDO_CLI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CEDULA_USU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CLAVE_USU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_EMPRESA" type="xs:int" />
      <xs:element minOccurs="0" name="ID_USU" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRE_CLI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE_USU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROL_USU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONO_CLI" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfIncidencia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Incidencia" nillable="true" type="tns:Incidencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIncidencia" nillable="true" type="tns:ArrayOfIncidencia" />
  <xs:complexType name="Incidencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="COORDENADAS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_EMPRESA" type="xs:int" />
      <xs:element minOccurs="0" name="ID_INCIDENCIA" type="xs:int" />
      <xs:element minOccurs="0" name="ID_USU" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRE_EMPRESA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Incidencia" nillable="true" type="tns:Incidencia" />
  <xs:complexType name="ArrayOfDirecciones">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Direcciones" nillable="true" type="tns:Direcciones" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDirecciones" nillable="true" type="tns:ArrayOfDirecciones" />
  <xs:complexType name="Direcciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coordenadas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Direcciones" nillable="true" type="tns:Direcciones" />
</xs:schema>