Escritorio/Connected Services/WCFServiciosApp/ServiciosApp2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://aplicacionesabrahm.somee.com/ServiciosApp.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="DevolverListaEmpresas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaEmpresasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaEmpresasResult" nillable="true" type="q1:ArrayOfEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverEmpresaResult" nillable="true" type="q2:Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaEmpresasEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaEmpresasEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaEmpresasEstadoResult" nillable="true" type="q3:ArrayOfEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaUsuariosResult" nillable="true" type="q4:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaUsuariosEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaUsuariosEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaUsuariosEmpresaResult" nillable="true" type="q5:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverUsuarioNombreUsu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverUsuarioNombreUsuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverUsuarioNombreUsuResult" nillable="true" type="q6:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverUsuarioCedula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverUsuarioCedulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverUsuarioCedulaResult" nillable="true" type="q7:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaUsuariosEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaUsuariosEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaUsuariosEstadoResult" nillable="true" type="q8:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverUsuarioID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverUsuarioIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverUsuarioIDResult" nillable="true" type="q9:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaIncidencias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaIncidenciasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaIncidenciasResult" nillable="true" type="q10:ArrayOfIncidencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaIncidenciasEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaIncidenciasEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaIncidenciasEmpresaResult" nillable="true" type="q11:ArrayOfIncidencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaIncidenciasUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaIncidenciasUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaIncidenciasUsuarioResult" nillable="true" type="q12:ArrayOfIncidencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaIncidenciasNombreEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreEmpresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaIncidenciasNombreEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaIncidenciasNombreEmpresaResult" nillable="true" type="q13:ArrayOfIncidencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaIncidenciasFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaIncidenciasFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaIncidenciasFechaResult" nillable="true" type="q14:ArrayOfIncidencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaIncidenciasCoordenadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="coordenadasEmpresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaIncidenciasCoordenadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaIncidenciasCoordenadasResult" nillable="true" type="q15:ArrayOfIncidencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaIncidenciasEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaIncidenciasEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaIncidenciasEstadoResult" nillable="true" type="q16:ArrayOfIncidencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverIncidenciaID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idIncidencia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverIncidenciaIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverIncidenciaIDResult" nillable="true" type="q17:Incidencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaIncidenciasEstadoFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaIncidenciasEstadoFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaIncidenciasEstadoFechaResult" nillable="true" type="q18:ArrayOfIncidencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaIncidenciasEmpresaFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaIncidenciasEmpresaFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaIncidenciasEmpresaFechaResult" nillable="true" type="q19:ArrayOfIncidencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaIncidenciasEmpresaEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaIncidenciasEmpresaEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaIncidenciasEmpresaEstadoResult" nillable="true" type="q20:ArrayOfIncidencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaIncidenciasEmpresaEstadoFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaIncidenciasEmpresaEstadoFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaIncidenciasEmpresaEstadoFechaResult" nillable="true" type="q21:ArrayOfIncidencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaDirecciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaDireccionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaDireccionesResult" nillable="true" type="q22:ArrayOfDirecciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverDireccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverDireccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverDireccionResult" nillable="true" type="q23:Direcciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NuevaEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccionEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="coordenadasEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcionEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefonoEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NuevaEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="NuevaEmpresaResult" nillable="true" type="q24:Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NuevaIncidencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="nombreEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="coordenadasEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NuevaIncidenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="NuevaIncidenciaResult" nillable="true" type="q25:Incidencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NuevoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="claveUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rolUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NuevoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="NuevoUsuarioResult" nillable="true" type="q26:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="nombreEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccionEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="coordenadasEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcionEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefonoEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ActualizarEmpresaResult" nillable="true" type="q27:Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstadoEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="nombreEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccionEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="coordenadasEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcionEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefonoEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstadoEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ActualizarEstadoEmpresaResult" nillable="true" type="q28:Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="claveUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rolUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ActualizarUsuarioResult" nillable="true" type="q29:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idIncidencia" type="xs:int" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEmpresaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarIncidencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idIncidencia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarIncidenciaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IniciarSesionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>